<p id="notice"><%= notice %></p>

<h1>Listing Trackers</h1>

<table>
  <thead>
    <tr>
      <th>Nasfile</th>
      <th>Sender</th>
      <th>Office Sent From</th>
      <th>Receiver</th>
      <th>Current Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.nasfile.file_name if tracker.nasfile.present? %></td>
        <td><%= tracker.sender.username if tracker.sender.present? %></td>
        <td><%= tracker.sender.office.name if tracker.sender.present? %></td>

        <td><%= tracker.receiver.username if tracker.receiver.present? %></td>
        <td><%= tracker.receiver.office.name if tracker.receiver.present? %></td>

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

