            <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse ">
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                       <%= link_to root_path do %>
                            <%= content_tag :span, "Naseni FTS", :class => "text-lg text-bold text-primary" %>
                        <% end %>
                    </div>

                    <div class="sidebar-top big-img">
                        <div class = "user-image">
                            <%= image_tag "media6.png", :class => "img-responsive img-circle" %>
                        </div>
                        <h4><%= current_user.last_name %></h4>
                    </div><!--end .col -->
                </div>

                <div class="menubar-scroll-panel">
                    

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>                            
                            <%= link_to '<div class="gui-icon"><i class="fa fa-home"></i></div><span class="title"> Dashboard</span>'.html_safe,  root_path %>   
                        </li><!--end /menu-li -->                                   
                        <!-- END DASHBOARD -->

                        <!-- BEGIN FIles -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-file-text"></i></div>
                                <span class="title">Files</span>
                            </a>
                            <!--start submenu -->
                            <ul>                                
                                <li>                            
                                     <%= link_to '<span class="title">Add New File</span>'.html_safe, new_nasfile_path %>  
                                </li>
                                <li>                            
                                     <%= link_to '<span class="title">View All Files</span>'.html_safe, nasfiles_path %>  
                                </li>                                
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                       <!-- END Files -->                       

                        <!-- BEGIN Category -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-folder-open"></i></div>
                                <span class="title">File Categories</span>
                            </a>
                            <!--start submenu -->
                            <ul>                                
                                <li>                            
                                    <%= link_to '<span class="title">View Categories</span>'.html_safe, categories_path %>  
                                </li>
                                <li>                            
                                    <%= link_to '<span class="title">Add Category</span>'.html_safe, new_category_path %>   
                                </li>                       
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END Category -->

                        <!-- BEGIN Office -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-thumb-tack"></i></div>
                                <span class="title">Offices</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>                            
                                    <%= link_to '<span class="title">View Offices</span>'.html_safe, offices_path %>   
                                </li>
                                <li>                            
                                    <%= link_to '<span class="title">Add New Office</span>'.html_safe, new_office_path %>   
                                </li>    
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END Office -->

                        <!-- BEGIN Departments -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><span class="fa fa-building"></span></div>
                                <span class="title">Departments</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>                            
                                    <%= link_to '<span class="title">View Departments</span>'.html_safe, departments_path %>   
                                </li>
                                <li>                            
                                    <%= link_to '<span class="title">Add New Department</span>'.html_safe, new_department_path %>   
                                </li>    
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END Deparments -->

                        <!-- Log Out -->
                        <% if user_signed_in? %>
                            <li><%= link_to '<div class="gui-icon"><i class="fa fa-sign-out"></i></div><span class="title"> Sign Out</span>'.html_safe, destroy_user_session_path, :method => :delete %> 
                            </li>
                        <% end %>
                            
                        <% if admin_signed_in? %>
                            <li><%= link_to '<div class="gui-icon"><i class="fa fa-sign-out"></i></div><span class="title"> Sign Out</span>'.html_safe, destroy_admin_session_path, :method => :delete %>
                            </li>
                        <% end %>
                        <!-- End Log Out -->

                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->

                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; 2015</span> <strong>Naseni ICT Unit</strong>
                        </small>
                    </div>
                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
            <!-- END MENUBAR -->