<!DOCTYPE html>
<html>
<head>
  <title>FileTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="menubar-hoverable header-fixed ">

			<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<%= link_to "NASENI FTS", root_path, :class => "text-lg text-bold text-primary" %>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>								
					</ul><!--end .header-nav-options -->
				<% if user_signed_in? %>
					<%= render 'devise/menu/login' %>
				<% end %>
				<% if admin_signed_in? %>
					<%= render 'admins/menu/login' %>
				<% end %>
					<ul class="header-nav header-nav-toggle">
						<li>
							<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
								<i class="fa fa-ellipsis-v"></i>
							</a>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

	<% if flash[:alert] %>
		<div class="alert alert-error">
			<%=flash[:alert]%>
		</div>	
	<% end %>


	<!-- Gritter -->
	<%= js extend_gritter :position => "top_right", :fade_in_speed => "medium", :fade_out_speed => 1000, :time => 2000, :class_name => "gritter-light"  %>
	<% if flash[:notice] %>
	  <%= js add_gritter(flash[:notice], :nodom_wrap  => true ) %>   
	<% elsif flash[:error] %>
	 <%= js add_gritter(flash[:error], :title => "Error", :nodom_wrap  => true) %>
	<% end %>
	<!-- Gritter -->

	<div id="base">

		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
		</div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->	

		<div id="content">
			<section>
				<div class="section-body">
					<div class="row">
						<%= yield %>
					</div>
				</div>
			</section>
		</div>

	</div>

</body>
</html>
