<!DOCTYPE html>
<html>
<head>
  <title>FileTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="menubar-hoverable header-fixed menubar-pin">

	<%= render "layouts/header" %>

	<% if flash[:alert] %>
		<div class="alert alert-error">
			<%=flash[:alert]%>
		</div>	
	<% end %>


	<!-- Gritter -->
	<%= js extend_gritter :position => "top_right", :fade_in_speed => "medium", :fade_out_speed => 1000, :time => 2000, :class_name => "gritter-light"  %>
	<% if flash[:notice] %>
	  <%= js add_gritter(flash[:notice], :nodom_wrap  => true ) %>   
	<% elsif flash[:error] %>
	 <%= js add_gritter(flash[:error], :title => "Error", :nodom_wrap  => true) %>
	<% end %>
	<!-- Gritter -->

	<div id="base">

		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
		</div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->	

		<div id="content">
			<section>
				<div class="section-body">
					<div class="row">
						<%= yield %>
					</div>
				</div>
			</section>
		</div>
		<% if current_user.registry_officer? %>
			<%= render "layouts/sidebar" %>
		<% end %>
	</div>

</body>
</html>
